<h2 matDialogTitle>Términos y Condiciones del servicio</h2>

<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis,
    nisl id viverra suscipit, nulla justo convallis nisi, nec rhoncus arcu velit
    at nunc. Sed bibendum lacus sit amet ligula commodo, vel vehicula augue
    pulvinar. Curabitur fringilla, massa id laoreet gravida, augue urna
    tincidunt libero, at feugiat risus odio at sem. Aenean dapibus neque non
    orci porttitor, nec vestibulum risus dapibus. Suspendisse potenti. Praesent
    volutpat suscipit sapien ac suscipit. Aliquam erat volutpat.
    <br />
    <br />
    Vestibulum euismod, ex sed sagittis euismod, tortor risus interdum ex, eget
    gravida neque turpis nec justo. In hac habitasse platea dictumst. Duis
    laoreet elit id est dignissim, vitae scelerisque elit commodo. Cras rhoncus
    finibus nulla in dictum. Donec mattis, elit sed viverra sodales, turpis orci
    mattis magna, ac pulvinar enim lorem nec justo. Sed nec turpis ac lectus
    posuere rhoncus. Integer tincidunt imperdiet quam, at ullamcorper odio
    elementum vel.
    <br />
    <br />
    Mauris elementum porttitor nunc, ut mattis ante luctus a. Vestibulum a
    tincidunt lorem. Integer quis dui metus. Donec finibus congue lectus, at
    imperdiet elit hendrerit non. Pellentesque habitant morbi tristique senectus
    et netus et malesuada fames ac turpis egestas. Proin nec dignissim eros.
    Suspendisse id tempor justo. Donec vitae odio augue.
  </p>
</mat-dialog-content>
