<div class="display-flex justify-content-center align-items-center w-100 h-100">
  <div class="box-form">
    <div class="image-logo">
      <span>LOGO</span>
      <span>CLÍNICA</span>
    </div>
    <p class="title-txt">Bienvenido</p>
    <p>Para comenzar, por favor valide la identidad del paciente.</p>

    <div class="display-flex flex-column align-items-center m-5 w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Rut del paciente</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>

    <div class="display-flex flex-column align-items-center w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Número de documento</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>

    <h5>
      Por su seguridad deberemos valdiar su datos. &nbsp;
      <a class="link" (click)="modalPolitics()"> Términos y condiciones </a>
    </h5>

    <button
      mat-flat-button
      color="primary"
      routerLink="/main/security-question"
    >
      Enviar
    </button>
  </div>
</div>
