<div class="header">
  <h1 class="title">Información Paciente</h1>
</div>

<div class="table">
  <div class="header-card">
    <h2>
      <strong>Paciente: </strong>{{ hospitalizations.namePacient | uppercase }}
    </h2>
    <div class="info-card">
      <span>
        <strong>Id Ingreso: </strong> {{ hospitalizations.idAdmission }}
      </span>

      <span>
        <strong>Médico tratante: </strong>
        {{ hospitalizations.nameProfesional | uppercase }}
      </span>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="dateIn">
      <th mat-header-cell *matHeaderCellDef>Fecha entrada</th>
      <td mat-cell *matCellDef="let row">{{ row.dateIn }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOut">
      <th mat-header-cell *matHeaderCellDef>Fecha salida</th>
      <td mat-cell *matCellDef="let row">{{ row.dateOut }}</td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Unidad</th>
      <td mat-cell *matCellDef="let row">{{ row.unit }}</td>
    </ng-container>

    <ng-container matColumnDef="floor">
      <th mat-header-cell *matHeaderCellDef>Piso</th>
      <td mat-cell *matCellDef="let row">{{ row.floor }}</td>
    </ng-container>

    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Sala</th>
      <td mat-cell *matCellDef="let row">{{ row.room }}</td>
    </ng-container>

    <ng-container matColumnDef="bed">
      <th mat-header-cell *matHeaderCellDef>Cama</th>
      <td mat-cell *matCellDef="let row">{{ row.bed }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
