.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 2em;
  font-weight: 600;
  padding: 20px 20%;

  .header-title {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }

  .header-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

}

.wrapper {
  display: flex;
  flex: 1;
  padding: 30px 20%;
  overflow: auto;
}