<div class="header">
  <h1 class="title">Preguntas de seguridad</h1>
  <div class="buttons">
    <button mat-flat-button color="primary" routerLink="/main/mfa">
      Volver
    </button>
  </div>
</div>
<div class="table">
  <div class="header-card">
    <h2><strong>Pregunta 1: </strong>Marca de su actual vehículo?</h2>
  </div>
  <mat-radio-group class="radio-group">
    <mat-radio-button>Toyota</mat-radio-button>
    <mat-radio-button>Nissan</mat-radio-button>
    <mat-radio-button>Subaru</mat-radio-button>
    <mat-radio-button>Ninguna de las anteriores</mat-radio-button>
  </mat-radio-group>
</div>

<div class="table">
  <div class="header-card">
    <h2><strong>Pregunta 2: </strong>Apellido materno de su madre?</h2>
  </div>

  <mat-radio-group class="radio-group">
    <mat-radio-button>González</mat-radio-button>
    <mat-radio-button>Pereira</mat-radio-button>
    <mat-radio-button>Ramírez</mat-radio-button>
    <mat-radio-button>Ninguna de las anteriores</mat-radio-button>
  </mat-radio-group>
</div>

<div class="table">
  <div class="header-card">
    <h2><strong>Pregunta 3: </strong>Comuna de su actual propiedad?</h2>
  </div>

  <mat-radio-group class="radio-group">
    <mat-radio-button>Providencia</mat-radio-button>
    <mat-radio-button>San Bernardo</mat-radio-button>
    <mat-radio-button>La Cisterna</mat-radio-button>
    <mat-radio-button>Ninguna de las anteriores</mat-radio-button>
  </mat-radio-group>
</div>

<div class="btn-send">
  <button mat-flat-button color="primary" routerLink="/main/download-file">
    Enviar
  </button>
</div>
